@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

h1 {
    font-family: 'Protest Riot', sans-serif;
    font-size: 3rem;
}
.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#hero {
    background-image: radial-gradient(
        circle,
        rgb(218, 218, 218),
        rgb(225, 225, 225),
        rgb(232, 232, 232),
        rgba(239, 239, 239, 1),
        rgba(246, 246, 246, 1),
        rgba(235, 235, 235, 1),
        rgba(223, 223, 223, 1),
        rgba(212, 212, 212, 1),
        rgba(180, 180, 180, 1),
        rgba(150, 150, 150, 1),
        rgba(120, 120, 120, 1),
        rgba(92, 92, 92, 1)
    );
    padding: 0.625rem;
    border-radius: 0.625rem;
    position: absolute centered;
    height: 50vh;
    margin-bottom: 3rem;
}

#sightings-box {
    min-height: 80vh;
}

@media only screen and (max-width: 600px) {
    #hero {
        object-fit: cover;
        width: 100%;
    }
}
