.card-container {
    background-image: radial-gradient(
        circle,
        rgba(218, 218, 218, 1),
        rgba(225, 225, 225, 1),
        rgba(232, 232, 232, 1),
        rgba(239, 239, 239, 1),
        rgba(246, 246, 246, 1),
        rgba(235, 235, 235, 1),
        rgba(223, 223, 223, 1),
        rgba(212, 212, 212, 1),
        rgba(180, 180, 180, 1),
        rgba(150, 150, 150, 1),
        rgba(120, 120, 120, 1),
        rgba(92, 92, 92, 1)
    );
    padding: 0.625rem;
    border-radius: 0.625rem;
    position: absolute centered;
}

.card-container-selected {
    background-image: radial-gradient(
        circle,
        #998b00,
        #ab9f00,
        #bcb400,
        #cdca00,
        #dee000,
        #dfe100,
        #dfe100,
        #e0e200,
        #d0cd00,
        #c0b800,
        #b0a400,
        #9f9100);
}

.card {
    background-color: #000;
    border-radius: 0.3125rem;
    border-width: 0.13rem;
}

.card-background {
    background-image: linear-gradient(
        to right bottom,
        #3d9f6c,
        #30b16b,
        #22c368,
        #10d561,
        #00e757,
        #00e152,
        #00da4e,
        #00d449,
        #00b549,
        #009645,
        #00793f,
        #045c36
    );
    height: 19.1875rem;
    border-radius: 0.1875rem;
    position: relative;
}

.card-title {
    position: absolute;
    top: -0.29rem;
    left: -0.29rem;
    margin: 0.29rem;
    font-size: medium;
    background-image: linear-gradient(
        to right,
        #4ba27e,
        #4ab388,
        #48c491,
        #45d59a,
        #42e7a3,
        #42e7a3,
        #42e7a3,
        #42e7a3,
        #45d59a,
        #48c491,
        #4ab388,
        #4ba27e
    );
    border-end-end-radius: 1rem;
    border-top-left-radius: 0.25rem;
    padding-right: 0.75rem;
}

.card-body {
    height: 2.5rem;
    padding: 0.125rem;
}

.list-group-item {
    background: transparent;
    font-size: small;
    padding: 0;
}

.custom {
    width: 8.125rem;
    border-radius: .85rem;
}
.btn {
    padding: 0rem;
}

.btn:focus {
    outline: none;
    background-color: none;
    border-color: none;
    box-shadow: none;
}

.btn-primary:focus {
    outline: none;
    background-color: none;
    border-color: none;
    box-shadow: none;
}

.buttons {
    height: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 3.75rem;
}

.showButton {
    background-image: radial-gradient(
        circle,
        rgba(218, 218, 218, 1),
        rgba(225, 225, 225, 1),
        rgba(232, 232, 232, 1),
        rgba(239, 239, 239, 1),
        rgba(246, 246, 246, 1),
        rgba(235, 235, 235, 1),
        rgba(223, 223, 223, 1),
        rgba(212, 212, 212, 1),
        rgba(180, 180, 180, 1),
        rgba(150, 150, 150, 1),
        rgba(120, 120, 120, 1),
        rgba(92, 92, 92, 1)
    );
    border-radius: 6.25rem;
    border-width: 0;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: black;
}

.showDeadButton {
    background-image: radial-gradient(
        circle,
        rgba(218, 218, 218, 1),
        rgba(225, 225, 225, 1),
        rgba(232, 232, 232, 1),
        rgba(239, 239, 239, 1),
        rgba(246, 246, 246, 1),
        rgba(235, 235, 235, 1),
        rgba(223, 223, 223, 1),
        rgba(212, 212, 212, 1),
        rgba(180, 180, 180, 1),
        rgba(150, 150, 150, 1),
        rgba(120, 120, 120, 1),
        rgba(92, 92, 92, 1)
    );
    border-radius: 6.25rem;
    border-width: 0;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: black;
}

.showDeadButton:hover {
    border-radius: 6.25rem;
    border-width: 0;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: black;
}

.showDeadButton:focus {
    border-radius: 6.25rem;
    border-width: 0;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: black;
}

.showButton:hover {
    background-image: linear-gradient(
        to left bottom,
        #3b6b57,
        #3b7d62,
        #3b906d,
        #39a378,
        #36b782,
        #36b782,
        #36b782,
        #36b782,
        #39a378,
        #3b906d,
        #3b7d62,
        #3b6b57
    );
}

.showButtonHasSighting {
    background-image: linear-gradient(
        to right bottom,
        #3b6b57,
        #3b7d62,
        #3b906d,
        #39a378,
        #36b782,
        #36b782,
        #36b782,
        #36b782,
        #39a378,
        #3b906d,
        #3b7d62,
        #3b6b57
    );
    color: white;
}

.showButtonHasSighting:focus {
    background-image: linear-gradient(
        to right bottom,
        #3b6b57,
        #3b7d62,
        #3b906d,
        #39a378,
        #36b782,
        #36b782,
        #36b782,
        #36b782,
        #39a378,
        #3b906d,
        #3b7d62,
        #3b6b57
    );
}

.showButtonHasSighting:hover {
    color: tan;
    background-image: linear-gradient(
        to left bottom,
        #3b6b57,
        #3b7d62,
        #3b906d,
        #39a378,
        #36b782,
        #36b782,
        #36b782,
        #36b782,
        #39a378,
        #3b906d,
        #3b7d62,
        #3b6b57
    );
}

.addButton:hover {
    background-image: linear-gradient(
        to left bottom,
        #3b6b57,
        #3b7d62,
        #3b906d,
        #39a378,
        #36b782,
        #36b782,
        #36b782,
        #36b782,
        #39a378,
        #3b906d,
        #3b7d62,
        #3b6b57
    );
}

.addButton {
    background-image: linear-gradient(
        to right bottom,
        #3b6b57,
        #3b7d62,
        #3b906d,
        #39a378,
        #36b782,
        #36b782,
        #36b782,
        #36b782,
        #39a378,
        #3b906d,
        #3b7d62,
        #3b6b57
    );
    border-radius: 6.25rem;
    border-width: 0;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
