body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-image {
    background-image: url("/feather-background.png");
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #010101;
    border-color: #000000;
}

.page-link {
  color:black
}

.accordion-button {
    color: #212529;
    background-color: #8dbf90;
    border-color: black;
    border: 1rem;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #8dbf90;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-button:focus {
    z-index: 3;
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

